h1 {
	color: blue;
	text-align: center;
	font-family: 'Source Code Pro', monospace; ;
}

img {
	width: 130px;
}

.card {
	background-color: #999999 ;
	width: 50%;
	border-radius:15px;
	padding: 40px;
	margin: 8px;
}

.cards {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #CCCCCC;
}

p {
	font-family: 'Source Code Pro', monospace;
}

h2 {
	font-family: 'Source Code Pro', monospace;
}